/* GLOBAL AND MOBILE STYLES FIRST */



/* max screen size 1000 */
@media screen and (max-width: 1000px) {
	body{
	background-color:red;
	}
	
	section
	{
		font-size: 1em;
		width: 40%;
		display: inline-block;
	}

	h2 
	{
		font-size: 1em;
	}
	
}
/* max screen size 500 */
@media screen and (max-width: 500px) {
	body{
	background-color:green;
	}
	section
	{
		font-size: 1em;
		width: 90%;
		display: inline-block;
	}

	h2 
	{
		font-size: 1em;
	}
	
}



